.parentDiv {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-items: center;
    font-family: "Nunito", sans-serif;
}

@media only screen and (max-width: 520px) {
    .parentDiv {
        flex-direction: column;
    }
}